
#calendar-page main {
    margin: 0 auto;
    width: 970px;
    font-family: Arial, Helvetica, sans-serif;
}

#calendar {
    text-align: center;
}

#calendar-page h1 {
    margin: 10vw 0;
}

#month-selector {
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.month-arrow {
    margin: 0 16px;
    padding: 2px 6px;
    font-size: 20px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #f2f2f2;
}

#current-month {
    font-size: 20px;
}

#calendar-body {
    margin: 0 auto;
    margin-bottom: 5vw;
}

#calendar-body>div:first-child {
    border-bottom: 1px solid black;
}

.calendar-row {
    display: flex;
    text-align: center;
}

.calendar-day {
    display: flex;
    flex-direction: column;
}

.calendar-day--open {
    background-color: #dcffdc;

}

.calendar-day--closed {
    background-color: #e6e6e6;
    color: #666666;
}

.day-name,
.calendar-day {
    margin: 2px;
    padding: 16px 0;
    width: 100%;
}

.day-name {
    color: #333;
    font-size: 18px;
    font-weight: 600;
}

.day-number {
    margin-bottom: 16px;
    font-size: 18;
    font-weight: bold;
}

#buy-ticket {
    padding: 12px;
    background-color: #0c6;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}  

#newsletter {
    margin: 10vw 0;
}

#newsletter input {
    padding: 6px;
    border-radius: 4px;
}

/* Css Marisa */
{
    font-family: 'Nunito', sans-serif;      
}

body
{
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    display: inline;
}

header
{
    width: 100%;
    min-width: 50%;
    height: auto;
    background-color: #ffffff;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;

}

.top-menu
{   
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding-top: 2%;
           
}

#logo
{
    width: 30%;
    max-width: 50%;
    height: auto;
    padding-top: 2%;
    margin: 0;
}

#menu ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li
{
    margin-left: 10px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline;
}

#menu a
{
    color: rgb(169, 31, 233);
    text-decoration: none;
    transition: color 0.3s;
}

#menu a:hover
{
    color: rgb(169, 31, 233);
    transition: color 0.5s;
    text-decoration: none;
}

.logo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
}

.menu {
    background-color: aquamarine;
    margin-top: 3%;
    padding: 5% 0%;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    color: aliceblue;
}

.titolo{
    width: 100%;
    text-align: center;
}

.card-menu {
    width:100%;
    
}
